## Application
/vendor
.env

## npm
**/node_modules

## Always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.sass-cache
*.css.map

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings

## Folders to ignore
**/temp
.vagrant/

## Design Specific
*.psd
*.ai
*.sketch
